<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/posts/save.css">
    <title>IAN Spring Boot Webservice</title>
</head>
<body>
    <main class="main-section">
        <header>
            <img src="{{user.picture}}" alt="#" id="user-icon">
            <div id="user-info-modal" class="hidden">
                <span id="user-name">{{user.name}}</span>
                <span id="user-email">{{user.email}}</span>
                <a href="/user/{{user.id}}">마이페이지</a>
                <a href="/logout">로그아웃</a>
            </div>
        </header>
        <article>
            <form id="form-save">
                <input type="hidden" name="id" id="id" value="{{post.id}}">
                <label for="title">제목</label>
                <input type="text" class="form-control form-subject" id="title" name="title" value="{{post.title}}">
                <label for="author-group"> 작성자 </label>
                <div id="author-group" class="form-control" name="author-group">
                    <input type="text" class="form-control form-subject" id="author" name="author" value="{{user.name}}" tabindex="-1" readonly>
                    <input type="text" class="form-control form-subject" id="email" name="email" value="{{user.email}}" tabindex="-1" readonly>
                </div>
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" name="content">{{post.content}}</textarea>
            </form>
            <div id="save-btns">
                <button type="button" class="form-control save-btn" id="btn-save">수정</button>
                <button class="form-control save-btn" onclick="history.back()">취소</button>
            </div>
        </article>
        <footer>
            <img src="/css/img/github-mark.png" alt="#" id="github-mark">
            <a href="https://github.com/oiysful/springboot-webservice" id="repository-link">Github Repository</a>
        </footer>
    </main>

    <script src="/js/common/common.js"></script>
    <script src="/js/users/header.js"></script>
    <script src="/js/posts/update.js"></script>
</body>
</html>