<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IAN Spring Boot Webservice</title>
</head>
<body>
    <main>
        <header>
            <span id="greeting">Welecome!</span>
            <a href="/user/{{user.id}}" id="user-info">{{user.name}}</a>
            <a href="/logout" id="logout">Logout</a>
        </header>
        <article>
            <div id="post-save">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" name="id" value="{{post.id}}" readonly>
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" name="author" value="{{post.author}}" readonly>
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" name="content">{{post.content}}</textarea>
            </div>
            <a href="/posts" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        </article>
        <footer>
            <img src="/css/img/github-mark.png" alt="#">
            <a href="https://github.com/oiysful/springboot-webservice">Github Repository</a>
        </footer>
    </main>

    <script src="/js/common/common.js"></script>
    <script src="/js/posts/update.js"></script>
</body>
</html>