@import url("../common/common.css");
@import url("../users/header.css");
.main-section {
    width: 90vw;
    height: 90vh;
}

/* 게시글 검색 */
#find-items {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 12px;
}
.option-items {
    all: unset;
    background-color: transparent;
    text-align: start;
    line-height: 40px;
    border-bottom: 1px solid black;
    padding: 0 8px;
}
#find-post-opt {
    width: 65px;
    background: url('../img/under-arrow.png') no-repeat 95% 50%;
    background-size: 10px;
}
#find-post-input {
    width: 200px;
}
.find-post-btn {
    width: 40px;
    cursor: pointer;
    text-align: center;
}

/* 게시글 목록 */
#post-table {
    padding: 30px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

#post-table th, td {
    border-bottom: 1px solid #444444;
    padding: 12px 28px;
}

#table-no {
    width: 10%;
}
#table-subject {
    width: 50%;
}
#table-author {
    width: 15%;
}
#table-mdf-at {
    width: 15%;
}

.table-item-center {
    text-align: center;
}

.table-item-bold {
    font-weight: bold;
}
.table-item-bold a {
    display: block;
    width: 100%;
    text-indent: 32px;
}

/* 게시글 페이지 */
#posts-paging {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
#posts-paging li {
    float: left;
    padding: 10px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}
#page-num span {
    padding: 0 10px;
}
.page-arrow {
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}
#posts-pre-page {
    background-image: url('../img/left-arrow.png');
}
#posts-next-page {
    background-image: url('../img/right-arrow.png');
}