@import url("../common/common.css");
@import url("../users/header.css");

.main-section {
    width: 90vw;
    height: 90vh;
}

article {
    gap: 0;
    padding: 0 40px;
}

#form-save {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
}

#form-save label {
    color: grey;
    font-size: small;
}

.form-control {
    all: unset;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.form-subject {
    height: 40px;
}

#author-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#author-group input {
    height: 20px;
    margin: 0;
    border-bottom: none;
}

#email {
    font-size: small;
    color: grey;
    padding-bottom: 5px;
}

#content {
    height: 45vh;
}

#save-btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.save-btn {
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}